h1{
    color: white;
    text-align: center;
    margin-top: 300px;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(78,84,200);
    height: 10vh;
}

.div.rotate {
    margin: 60px;
    display: inline-block;
    position: relative;
    background-color: rgb(101,106,207);
    transform: rotate(30deg);
}
.div-1{
    animation: move 8s infinite;
    height: 120px;
    width: 120px;
    border-radius: 25px;
}
.div-2{
    animation: move 9s infinite; 
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.div-3{
    animation: move 7s infinite; 
    height: 100px;
    width: 100px;
    border-radius: 15px;
}
.div-4{
    animation: move 7s infinite; 
    height: 150px;
    width: 150px;
    border-radius: 35px;
}
.div-5{
    animation: move 9s infinite; 
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.div-6{
    animation: move 9s infinite; 
    height: 120px;
    width: 120px;
    border-radius: 25px;
}
.div-7{
    animation: move 8s infinite; 
    height: 120px;
    width: 120px;
    border-radius: 25px;
}
.div-8{
    animation: move 8s infinite; 
    height: 150px;
    width: 150px;
    border-radius: 35px;
}
@keyframes move{
    0%{
        bottom: -400%;
    }
    100%{
        bottom: 1300%;
        transform: rotate(350deg);
    }
} 