h1{
    color: white;
    text-align: center;
    margin-top: 300px;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(78,84,200);
    height: 10vh;
}

.div.rotate {
    height: 100px;
    width: 120px;
    margin: 100px;
    display: inline-block;
    position: relative;
    border-radius: 25px;
    background-color: rgb(101,106,207);
    transform: rotate(30deg);
}
.div-1{
    animation: move 5s infinite;
    
}
.div-2{
    animation: move 6s infinite; 
}
.div-3{
    animation: move 5s infinite; 
}
.div-4{
    animation: move 4s infinite; 
}
.div-5{
    animation: move 6s infinite; 
}
.div-6{
    animation: move 6s infinite; 
}
@keyframes move{
    0%{
        bottom: -425%;
    }
    100%{
        bottom: 800%;
        transform: rotate(350deg);
    }
}