h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
body{
    background-color: cyan;
}
i{
    color: red;
    font-size: 100px;
    margin: 15%;
    margin-left: 47%;
    margin-top: 12%;
}
.button{
    background-color: dodgerblue;
    color: white;
    font-size: 30px;
    margin-bottom: 50%;
}